<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    {{> partials.styles}}
</head>

<body>
<table role="presentation" class="body">
    <tr>
        <td class="container">
            <div class="content">
                {{> @partial-block}}
            </div>
        </td>
    </tr>
</table>
</body>

</html>
