{{#> layouts.base}}
    <table role="presentation" class="main">
        <tr>
            <td class="wrapper">
                <table role="presentation">
                    <tr>
                        <td>
                            <p>Hi {{name}},</p>
                            <p>This is to notify you that your password was recently changed</p>
                            <h6>Team! Footer</h6>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{/layouts.base}}
