{{#> layouts.base}}
    <table role="presentation" class="main">
        <tr>
            <td class="wrapper">
                <table role="presentation">
                    <tr>
                        <td>
                            <p>Hi {{name}},</p>
                            <p>Your password was changed! If you did not make this request please reset your password now</p>
                            <p>Team! Footer</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{/layouts.base}}
